:root {
    --primary-color: #f6412f;
    --heading-color: #652500;
    --heading-font: 'Francois One', sans-serif;
    --primary-font: 'Lato', sans-serif;
}

body {
    font-family: var(--primary-font);
}

/* HOME PAGE */

/* navbar */

nav {
    background-color: white;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 20%);
}

nav img {
    margin-left: 40px;
    width: 200px;
    vertical-align: middle;
}

nav ul a {
    vertical-align: middle;
    margin-right: 60px;
    font-size: 28px;
    color: var(--primary-color);
}

nav ul a:hover {
    color: #ce3d30;
    background-color: unset !important;
}

/* search bar */
nav form {
    position: relative;
    top: 50%;
    transition: all 1s;
    width: 50px;
    height: 64px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

nav form input {
    position: absolute;
    top: 0;
    right: 40px;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

nav form input:focus {
    border-color: var(--heading-color) !important;
    box-shadow: 0 1px 0 0 var(--heading-color) !important;
}

nav form .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    color: var(--primary-color);
    text-align: center;
    font-size: 25px;
    transition: all 1s;
}

nav form:hover,
nav form:valid {
    width: 200px;
    cursor: pointer;
}

nav form:hover input,
nav form:valid input {
    display: block;
}

nav form:hover .fa,
nav form:valid .fa {
    background: var(--primary-color);
    color: white;
}

nav form a {
  display: none;
  position: absolute;
  top: 70px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center; 
  width: 100%;
}

nav form:valid a {
  display: block;
}

/* banner images */

.home-banner {
    position: absolute;
    height: 100%;
    z-index: -5;
}

#banner-right {
    right: 0;
}

/* search section */

#search-section {
    position: relative;
    height: 50vh;
    background-color: #f5a9001c;
}

#search-section h1 {
    text-shadow: 1px 1px #fffaf4;
    color: var(--heading-color);
    font-family: var(--heading-font);
}

#home-search {
    height: 64px;
    line-height: 64px;
    background-color: #ffffff8f;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

#home-search .input-field input {
    height: inherit;
}

#home-search .input-field input:focus {
    padding-left: 4rem;
    width: calc(100% - 4rem);
}

#home-search i {
    line-height: 64px;
}

/* popular section */

#popular-section {
    padding: 30px 150px;
}

#popular-section h1 {
    margin-bottom: 50px;
    text-shadow: 1px 1px #fffaf4;
    color: var(--heading-color);
    font-family: var(--heading-font);
}

.card {
    height: 450px;
}

#popular-section .card-title {
    height: 100px;
    overflow: hidden;
}

/* footer */
footer {
    max-height: 500px;
    padding-left: 5vw;
    padding-right: 5vw;
    color: white;
    background-color: var(--primary-color);
}

footer a {
    display: inline-block;
    margin: 10px 0px;
    font-size: 15px;
    color: white;
}

footer .row:first-child {
    padding-top: 20px;
}

footer .row:last-child {
    margin-bottom: 0;
}

footer .row:last-child a {
    color: #ffb3af;
}

footer img {
    width: 200px;
}

.fab {
    padding: 10px 10px 10px 0px;
    font-size: 30px;
}

hr {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-color: #ffffff66;
}

/* SEARCH PAGE */

#search-results h3 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

@media only screen and (min-width: 1200px) {
    .row .col.l2-5 {
        width: 20%;
    }
}

@media only screen and (max-width: 1200px) {
    #popular-section {
        padding: 30px 50px;
    }

    #popular-section .card {
        height: unset;
    }
    
    #popular-recipes .col:last-child {
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    #popular-recipes .col:nth-child(n+4) {
        display: none;
    }
    #search-results .card {
        height: unset;
    }
}