:root {
    --primary-color: #f6412f;
    --heading-color: #a41515;
    --font-color: #652500;
    --heading-font: 'Francois One', sans-serif;
    --heading-font-2: 'serif';
    --primary-font: 'Lato', sans-serif;
}

/* #652500 */

body {
    line-height: 30px;
    font-family: var(--primary-font);
    color: var(--font-color);
}

.serif {
    font-family: serif;
}

/* HOME PAGE */

/* navbar */

nav {
    position: relative;
    z-index: 10;
    background-color: white;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 20%);
}

nav img {
    margin-left: 40px;
    width: 200px;
    vertical-align: middle;
}

nav ul a {
    vertical-align: middle;
    margin-right: 60px;
    font-size: 28px;
    color: var(--primary-color);
}

nav ul a:hover {
    color: #ce3d30;
    background-color: unset !important;
}

/* search bar */
nav form {
    position: relative;
    top: 50%;
    transition: all 1s;
    width: 50px;
    height: 64px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid transparent;
    padding: 5px;
}

nav form input {
    position: absolute;
    top: 0;
    right: 40px;
    width: 100%;
    ;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

nav form input:focus {
    border-color: var(--heading-color) !important;
    box-shadow: 0 1px 0 0 var(--heading-color) !important;
}

nav form .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    color: var(--primary-color);
    text-align: center;
    font-size: 25px;
    transition: all 1s;
}

nav form:hover,
nav form:valid {
    width: 200px;
    cursor: pointer;
}

nav form:hover input,
nav form:valid input {
    display: block;
}

nav form:hover .fa,
nav form:valid .fa {
    background: var(--primary-color);
    color: white;
}

nav form a {
    display: none;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 100%;
}

nav form:valid a {
    display: block;
}

/* banner images */

.home-banner {
    position: absolute;
    height: 100%;
    z-index: -5;
}

#banner-right {
    right: 0;
}

/* search section */

#search-section {
    position: relative;
    height: 50vh;
    background-color: #f5a9001c;
}

#search-section h1 {
    text-shadow: 1px 1px #fffaf4;
    color: var(--heading-color);
    font-family: var(--heading-font);
}

#home-search {
    height: 64px;
    line-height: 64px;
    background-color: #ffffff8f;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

#home-search .input-field input {
    height: inherit;
}

#home-search .input-field input:focus {
    padding-left: 4rem;
    width: calc(100% - 4rem);
}

#home-search i {
    line-height: 64px;
}

#advanced-search {
    color: var(--font-color);
}

/* popular section */

#popular-section {
    padding: 30px 150px;
}

#popular-section h1 {
    margin-bottom: 50px;
    text-shadow: 1px 1px #fffaf4;
    color: var(--heading-color);
    font-family: var(--heading-font-2);
}

.card {
    height: 450px;
}

.card .card-content p {
    letter-spacing: 1px;
}

#popular-section .card-title {
    height: 100px;
    overflow: hidden;
}

/* subscription */
.subscription {
    background-color: #faeec8;
}

.subscription p {
    margin-top: 50px;
}

.subscription h3 {
    line-height: 50px;
}

.subscription input {
    width: 40% !important;
    padding-left: 10px !important;
    border: none !important;
    background-color: white !important;
}

.subscription input::placeholder {
    color: #919191;
}

.subscription input:focus {
    border-bottom: 1px solid #333333 !important;
    box-shadow: none !important;
}

#input-row {
    margin-bottom: 0;
}

#newsletter-btn {
    height: unset;
    width: 40% !important;
    padding: 7px 20px;
    background-color: #333333;
}

#privacy-terms {
    margin-bottom: 0;
    font-size: 12px;
}

#privacy-terms {
    margin-top: 10px;
    padding-bottom: 50px;
}

#privacy-terms a {
    color: var(--font-color);
    text-decoration: underline;
}

/* footer */
footer {
    max-height: 500px;
    padding-left: 5vw;
    padding-right: 5vw;
    color: white;
    background-color: var(--primary-color);
}

footer a {
    display: inline-block;
    margin: 10px 0px;
    font-size: 15px;
    color: white;
}

footer .row:first-child {
    padding-top: 20px;
}

footer .row:last-child {
    margin-bottom: 0;
}

footer .row:last-child a {
    color: #ffb3af;
}

footer img {
    width: 200px;
}

.fab {
    padding: 10px 10px 10px 0px;
    font-size: 30px;
}

hr {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-color: #ffffff66;
}

/* SEARCH PAGE */

#search-results h3 {
    color: var(--heading-color);
    font-family: var(--heading-font-2);
}

/* RECIPE PAGE */

.center {
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-60%);
}

#recipe-top {
    position: relative;
    height: 87vh;
    margin: 0;
    border-bottom: 1px solid rgb(226, 221, 204);
}

#recipe-category {
    letter-spacing: 2px;
}

#recipe-name {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

#recipe-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

#recipe-tags {
    margin: 8px 0;
    font-size: 16px;
    font-family: var(--heading-font-2);
}

#recipe-info {
    width: 80vw;
    padding: 50px;
    border-radius: 10px;
    background-color: #fbeed5;
}

#recipe-info h3 {
    font-family: var(--heading-font-2);
    color: var(--heading-color);
}

#recipe-info hr {
    width: 55vw;
    border-width: 2px;
    border-color: #ceba95;
}

#ingredient-list {
    line-height: 40px;
}

#recipe-info #modal-btn {
    background-color: var(--primary-color);
}

#recipe-info #modal-btn:hover {
    background-color: #bd4237;
}

#email-signup hr {
    margin: 50px;
    border-color: #ceba95;
}

#email-signup h3 {
    padding-bottom: 20px;
    font-family: var(--heading-font);
}

#email-signup p {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
    font-family: var(--heading-font-2);
    letter-spacing: 1px;
}

#email-signup input {
    width: 30vw;
    border: 1px solid #9e9e9e;
    box-shadow: 0px 0px 0px 2px #ffffff00;
}

#email-signup input:focus {
    border: 1px solid #ffffff00;
    -webkit-box-shadow: 0px 0px 0px 2px #1900ff;
    box-shadow: 0px 0px 0px 2px #1900ff;
}

#email-signup a {
    margin-left: 25px;
    background-color: var(--primary-color);
}

/* Recommended Section */

#recommended-section {
    padding: 0px 150px 30px 150px;
}

#recommended-section h1 {
    margin-bottom: 50px;
    text-shadow: 1px 1px #fffaf4;
    color: var(--heading-color);
    font-family: var(--heading-font-2);
}

#recommended-section .card-title {
    height: 100px;
    overflow: hidden;
}

/* MODAL */

#recipe-instructions {
    white-space: pre-line;
}

#ingredient-name {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: var(--heading-font-2);
}

/* Modal Card */

.modal.bottom-sheet {
    max-height: 60%;
}

#ingredient-content h4, #done-content h4 {
    font-family: var(--heading-font);
}

#next-btn, #done-btn {
    letter-spacing: 1px;
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}

.modal-card {
    min-height: 550px;
}

.modal-card .card-content {
    min-height: 154px;
}

.checked {
    border: 3px solid lightgreen;
}

/* Modal Substitute Item Search Bar */
.input-field {
    margin: 0;
}

#substitute-search {
    margin: 0px 30px;
}

#substitute-search input {
    margin: 0;
    width: calc(100% - 30px);
    height: unset;
    padding-left: 30px;
}

#substitute-search i {
    line-height: unset;
}

#substitute-search .label-icon {
    left: 0;
}

/* Cart page collapisible */
.collapsible-body {
    background-color: white;
}

@media only screen and (min-width: 1200px) {
    .row .col.l2-5 {
        width: 20%;
    }

    /* Modal Card */
    .modal-card {
        min-height: 560px;
    }

    .modal-card .card-content {
        height: 240px;
    }
}

@media only screen and (max-width: 1200px) {
    #popular-section, #recommended-section {
        padding: 30px 50px;
    }

    #popular-section .card, #recommended-section .card {
        height: unset;
    }

    #popular-recipes .col:last-child, #recommended-recipes .col:last-child {
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    #popular-recipes .col:nth-child(n+4), #recommended-recipes .col:nth-child(n+4) {
        display: none;
    }

    #search-results .card {
        height: unset;
    }

    /* RECIPE PAGE */
    #recipe-name {
        position: relative;
        width: auto;
        transform: none;
    }
}